html,body {
    background:#f7f5f5 url("../images/bg.gif") repeat;
    font-family: "helvetica neue",arial,sans-serif;
}
.showcase {
    background-color: white;
    height: 230px;
}
.item-box {
    width: 152px;
    padding: 15px 15px 0;
    margin: 8px;
    float: left;
    opacity: 1;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
.item-info {
    height :80px;
    display: none;
    font-size: 12px;
    margin-top: -85px;
    background: #FFF;
    filter: alpha(opacity=75);
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    color: black;
    position: absolute;
    width: 155px;
    border: 1px solid #DDD;
}
.item-info div {
    max-height: 38px;
    overflow: hidden;
}
.items-container {
    height: 1200px;
}
.auto-tabs .active a{
    background:url("../images/bg.gif");
}
.gray-tab .active a{
    background:url("../images/bg.gif");
}
.nav-bar {
    margin: 0 0 15px 0;
    background: rgba(255, 255, 255, .98);
    box-shadow: 0 1px 0 white inset,0 1px 3px rgba(0, 0, 0, .15);
    font-size: 14px;
    height: 40px;
    position: relative;
    padding-left: 20px;
}
.nav-bar li a{
    line-height: 19px;
}
.left_content {
    width: 190px;
    float: left;
}
.center_content {
    width: 800px;
    float: right;
    padding: 0px 0px 0px 10px;
}
a.button2 {
    font-weight: bold;
    background: transparent url('../images/button_right_02.png') no-repeat scroll top right;
    display: block;
    float: inherit;
    height: 34px;
    width: 85px;
    padding-right: 20px;
    text-decoration: none;
    margin: 5px 0px 24px 24px;
}

a.button2 span {
    line-height: 22px;
    padding: 7px 0 5px 20px;
    background: transparent url('../images/button_left_02.png') no-repeat;
    display: block;
    text-decoration: none;
}
.history-item {
    margin-bottom: 10px;
    margin-right:10px;
    width: 80px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
